<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612579073766-o39077og5cmjhs2t9711m7nmv74olgul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612579073766-o39077og5cmjhs2t9711m7nmv74olgul</string>
	<key>API_KEY</key>
	<string>AIzaSyAPYIjTz0zH2ycURQq1T_TsmckMFHN7YeE</string>
	<key>GCM_SENDER_ID</key>
	<string>612579073766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fuegoBites.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fuego-bites</string>
	<key>STORAGE_BUCKET</key>
	<string>fuego-bites.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612579073766:ios:2dbb6c45a853d2a244e527</string>
</dict>
</plist>